* {
  box-sizing: border-box;
  margin: 0;
}
h1{ 
  text-align: center;
  margin-bottom: 80px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}
label{
  text-align: center;
}

form {
  width: 50%;
  height: auto;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  color: white;
  border-radius: 20px;
}

input{
  width: 50%;
  height: 25px;
  border-radius: 15px;
  outline: none;
  margin: none;
  border: none;
  margin-bottom: 15px;
  padding-left: 20px;
}

.boton-enviar {
  padding: 0;
  margin-top: 20px;
}